@using ECommerce.Entities.ComplexTypes
@model ProductItem
@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Areas/Admin/Views/Shared/_Layaout.cshtml";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">@ViewBag.Title</h1>
</div>

@if (TempData["Message"] != null)
{
    var message = (ECommerce.MvcWebUI.Areas.Admin.ViewModels.MessageViewModel)TempData["Message"];
    <div class="alert @message.CssClass alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>@message.Title</strong> @message.Message <a href="@message.Url">@message.LinkText</a>
    </div>
}

@using (Html.BeginForm("Form", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(p => p.Product.ProductName)
        @Html.TextBoxFor(p => p.Product.ProductName, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Product.ProductName, "", new { @class = "text-danger" })
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(p => p.Product.CategoryId)
                @Html.DropDownListFor(p => p.Product.CategoryId, new SelectList(Model.Categories, "Id", "CategoryName"), "Kategori Seçiniz", new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(p => p.Product.BrandId)
                @Html.DropDownListFor(p => p.Product.BrandId, new SelectList(Model.Brands, "Id", "BrandName"), "Marka Seçiniz", new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.BrandId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(p => p.Product.UnitPrice) (TL)
                @Html.TextBoxFor(p => p.Product.UnitPrice, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.UnitPrice, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(p => p.Product.UnitsInStock)
                @Html.TextBoxFor(p => p.Product.UnitsInStock, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.UnitsInStock, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Product.ProductFeature)
        @Html.TextAreaFor(p => p.Product.ProductFeature, new { @class = "form-control" })
    </div>
    <div class="form-check form-check-inline">
        @Html.CheckBoxFor(p => p.Product.IsActive, new { @class = "form-check-input" })
        @Html.LabelFor(p => p.Product.IsActive, "Ürün aktifse seçiniz", new { @class = "form-check-label" })
    </div>
    <div class="form-group mt-3">
        @Html.HiddenFor(p => p.Product.Id)
        <button type="submit" class="btn btn-info">Kaydet</button>
    </div>
}
