@using ECommerce.Entities.ComplexTypes
@model List<CustomerItem>
@{
    ViewBag.Title = "Müşteriler";
    Layout = "~/Areas/Admin/Views/Shared/_Layaout.cshtml";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Müşteri Listesi</h1>
</div>

<div class="pt-3 pb-2 mb-3">
    <a href="@Url.Action("Form", "Customer")" class="btn btn-success"><i class="fa fa-plus"></i> Yeni Müşteri</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad Soyad</th>
            <th>Yaş</th>
            <th>E-mail</th>
            <th>Şehir</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Customer.FirstName @customer.Customer.LastName</td>
                <td>
                    @if (customer.Customer.DateOfBirth != null)
                    {
                        @(DateTime.Now.Year - customer.Customer.DateOfBirth.Value.Year)
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>@customer.Customer.Email</td>
                <td>@customer.CityName</td>
                <td>
                    @Html.ActionLink("Adresler", "Address", null, new { id = customer.Customer.Id }, new { @class = "btn btn-dark" })
                    @Html.ActionLink("Siparişler", "Order", null, new { id = customer.Customer.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Güncelle", "Update", null, new { id = customer.Customer.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
